@model TemptBase.WebUI.Models.ParametrListViewModel

@{
    ViewBag.Title = "Parametry";
}

@foreach (var p in Model.Parametrs) {
    @Html.Partial("ParametrSummary", p)
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
